.App {
  text-align: center;
  height:100vh;
  background-color: #69f0ae;
  box-sizing: border-box;
  padding:30px;
  margin:0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  /*background-image: linear-gradient(#40c4ff,#ffff8d);*/
  /*background-image: linear-gradient(#69f0ae,white,#69f0ae);*/
}
